<style>
.nonono {
                qwerty
                 }

.gg {
        color: red;                                                                          
         }
.pos {
          position:relative;
          align:center;
          border:1px black solid;
          
          margin-top:5%;
          margin-leftggg:10%;
          margin-rightgg:90%;
          }
.sd {width:100%;}
.fix {
      position: fixed;
      width:100%;
      background:#131313;
      color:#F3F3F3;
      
     }/*РџСЂРёРІСЏР·РєР°*/

</style>
